@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  outline: none;
  font-family: "Inter", sans-serif;
}

*::placeholder {
  font-family: "Inter", sans-serif;
  color: #009fbb;
}

@layer utilities {
  .flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .scrollbar-hidden {
    scrollbar-width: none;
  }

  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }

  .animate-zoom-in {
    animation: zoom-in forwards 0.3s;
  }

  .animate-fade-in {
    animation: fade-in forwards 0.3s;
  }

  .animate-fade-in-2 {
    animation: fade-in-2 forwards 0.3s;
  }

  .animate-fade-in-duration-1000 {
    animation: fade-in forwards 1s;
  }

  .animate-toast-progress-bar {
    animation: toast-progress 5000ms linear forwards;
  }

  .hero-show {
    opacity: 0;
    display: flex;
    animation: fade-hero-in 300ms linear forwards;
  }

  .hero-hide {
    opacity: 1;
    /* display: none; */
    animation: fade-hero-out 300ms linear forwards;
  }

  @keyframes fade-hero-in {
    100% {
      opacity: 1;
    }
  }

  @keyframes fade-hero-out {
    100% {
      opacity: 0;
    }
  }

  @keyframes toast-progress {
    100% {
      width: 0;
    }
  }
  @keyframes zoom-in {
    0% {
      scale: 0.9;
    }
    100% {
      scale: 1;
    }
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
      backdrop-filter: blur(2px);
    }
  }

  @keyframes fade-in-2 {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .animate-loader {
    animation: loader 5s;
  }

  @keyframes loader {
    0% {
      width: 0%;
    }
    100% {
      width: 100%;
    }
  }
}
