@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  outline: none;
  font-family: "Inter", sans-serif;
}

*::placeholder {
  font-family: "Inter", sans-serif;
  color: #009fbb;
}

@layer utilities {
  .flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .scrollbar-hidden {
    scrollbar-width: none;
  }

  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }

  .animate-zoom-in {
    animation: zoom-in forwards 0.3s;
  }

  .animate-fade-in {
    animation: fade-in forwards 0.3s;
  }

  @keyframes zoom-in {
    0% {
      scale: 0.9;
    }
    100% {
      scale: 1;
    }
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
      backdrop-filter: blur(2px);
    }
  }
}
