@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  outline: none;
  font-family: "Inter", sans-serif;
}

*::placeholder {
  font-family: "Inter", sans-serif;
  color: #009fbb;
}

@layer utilities {
  .flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: ; */
  }
}
