# Build folder
/client/dist

#node modules
/client/node_modules
/server/node_modules
*/node_modules

#environment variables
/server/*.env
/client/*.env


# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
